.icon-boxes {
  margin-top: 100px;
}

.icon-box {
  /* padding: 50px 30px; */
  margin-top: 50px;
  position: relative;
  overflow: hidden;
  background: transparent;
  opacity: 1;
  /* box-shadow: 0 0 29px 0 rgba(18, 66, 101, 0.08); */
  transition: all 0.3s ease-in-out;
  /* border-radius: 8px; */
  z-index: 1;
}
